@charset "utf-8";
/* CSS Document */

.classified-maker.dashboard {

}


.classified-maker.dashboard .navs {
	width: 34%;
	display: inline-block;
	vertical-align: top;
}
.classified-maker.dashboard .navs-content {
	width: 65%;
	display: inline-block;
}













